* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'Poppins', sans-serif; */
}
/* common style */

.hidden {
  display: none;
}

.nav-bar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 140px;
  z-index: 1;
}

.topic-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}

.topic-nav-heading {
  font-size: 2rem;
}

.topic-nav-info {
  text-align: right;
}

.link-nav {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: space-evenly;
  margin: 10px 30px;
  padding-bottom: 8px;
  border-bottom: 1px solid black;
  font-size: 2.3rem;
}

.press-me {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: orchid;
  border: 1px;
  color: #333;
  font-size: 1.2rem;
}

.press-me:hover {
  transform: scale(1.2);
  cursor: pointer;
}

/* index.html style */

.project-info {
  margin-top: 140px;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.project-topic {
  display: flex;
  font-size: 6.3rem;
  width: 60%;
  border: 1px #dfe9f2 solid;
  padding: 10px;
  margin-right: 10px;
  background-color: #3772a6;
  border-radius: 5px;
  color: #dfe9f2;
}

.project-group-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  font-size: 1.5rem;
}

.person-info {
  display: grid;
  grid-template-columns: 250px 250px auto;
  border-radius: 5px;
  background-color: #82b0d9;
  padding: 8px;
}

.person-name,
.person-SID,
.person-contribute {
  justify-self: start;
}

.introduction-heading {
  margin: 0px 30px;
  font-size: 3rem;
  padding: 0px 10px;
}

.introduction-content {
  margin: 10px 30px;
  padding: 10px;
  z-index: 1; /* Stay on top */
  background-color: #cebdf2;
  transition: opacity 0.5s ease;
  border-radius: 5px;
}

.introduction-content ul {
  margin: 10px 30px;
}

/* findings.html style */

.page-wrapper {
  margin-top: 140px;
  padding: 10px 30px;
}

.finding-name {
  border-radius: 5px;
  background-color: #3772a6;
  padding: 5px;
  width: fit-content;
}

.finding-left {
  padding: 25px 0px;
}

.finding-left .before-heading {
  padding: 5px;
  font-size: 1.5rem;
  width: fit-content;
}

.finding-left .before-content {
  border-radius: 5px;
  height: auto;
  margin-top: 10px;
  margin-left: 30px;
  width: 80%;
  padding: 15px;
  background-color: #82b0d9;
}

.finding-left .after-heading {
  margin-top: 30px;
  padding: 5px;
  font-size: 1.5rem;
  width: fit-content;
}

.finding-left .after-content {
  border-radius: 5px;
  height: 100px;
  margin-top: 10px;
  margin-left: 30px;
  width: 80%;
  padding: 15px;
  height: auto;
  background-color: #cebdf2;
}

.finding-right .before {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.finding-right .before-heading {
  padding: 5px;
  font-size: 1.5rem;
  width: fit-content;
}

.finding-right .before-content {
  border-radius: 5px;
  height: auto;
  margin-top: 10px;
  margin-right: 30px;
  width: 80%;
  padding: 15px;
  background-color: #82b0d9;
}

.finding-right .after {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.finding-right .after-heading {
  margin-top: 30px;
  padding: 5px;
  margin-left: 30px;
  font-size: 1.5rem;
  width: fit-content;
}

.finding-right .after-content {
  border-radius: 5px;
  height: auto;
  margin-top: 10px;
  margin-right: 30px;
  width: 80%;
  padding: 15px;
  background-color: #cebdf2;
}

.after {
  transition: opacity 0.5s;
}

/* Technique style */
.technique-page-wrapper {
  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, auto);
  justify-items: center;
  margin: 140px 30px;
  padding: 10px 30px;
  border: 1px solid black;
}

.technique-title {
  grid-column-start: 3;
  grid-column-end: 6;
  justify-self: center;
  border-radius: 5px;
  background-color: #3772a6;
  padding: 5px;
}

.technique-website-heading {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
  border: 1px solid black;
  padding: 5px;
  background-color: #82b0d9;
  border-radius: 5px;
}

.technique-website-content {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;
  justify-self: center;
  margin-top: 6px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  list-style-position: inside;
  background-color: #cebdf2;
  transition: opacity 0.5s ease;
}

.technique-video-heading {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 4;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  background-color: #82b0d9;
}

.technique-video-content {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 5;
  justify-self: center;
  margin-top: 6px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  list-style-position: inside;
  justify-items: center;
  background-color: #cebdf2;
  transition: opacity 0.5s ease;
}

/*Mixed Reality style*/
.mr-section {
  display: flex;
}
.mr-index {
  width: 30%;
}
.mr-content {
  width: 70%;
}
